:root {
  --green: green;
  --red: red;
  --blue: blue;
  --yellow: yellow;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: #dd5e89;
  background: -webkit-linear-gradient(to right, #f7bb97, #dd5e89);
  background: linear-gradient(to right, #f7bb97, #dd5e89);
}

.game-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.board-box {
  width: 50%;
  height: 100%;
}

.console {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size: 64px;
  margin: 0 0 10px 0;
  letter-spacing: 5px;
  text-align: center;
}

button {
  margin: 0.3rem;
  padding: .5rem;
  border: none;
  cursor: pointer;
}

.field {
  background: #ffffff;
  border: 2px #000000 solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-name {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 16px;
}

.start-green,
.finish-green {
  background-color: var(--green);
}
.start-red,
.finish-red {
  background-color: var(--red);
}
.start-blue,
.finish-blue {
  background-color: var(--blue);
}
.start-yellow,
.finish-yellow {
  background-color: var(--yellow);
}

/*HOME AREA*/

.home-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 10px;
  border: 2px #000000 solid;
  border-radius: 50%;
}

#home-area-green {
  background-color: #38c533;
}
#home-area-red {
  background-color: #ec3f20;
}
#home-area-blue {
  background-color: #417dee;
}
#home-area-yellow {
  background-color: #f5f36e;
}

/* PAWNS*/

.pawn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px #000000 solid;
}

.pawn-green {
  background-color: var(--green);
}
.pawn-red {
  background-color: var(--red);
}
.pawn-blue {
  background-color: var(--blue);
}
.pawn-yellow {
  background-color: var(--yellow);
}

.field > .pawn {
  z-index: 2;
  position: absolute;
}

.facebox {
  background-image: url('img/6l71.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px #000000 solid;
}

.toastify {
  color: #000000;
  font-weight: bold;
}

.toastify-center {
  text-align: center;
  width: 10%;
  z-index: ;
}

#dice-box {
  width: 250px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url(/style/img/floor.jpg);
  background-size: cover;
  background-position: center;
  border: 3px #000000 solid;
  border-radius: 10px;
}
